VITE_SUPABASE_URL=https://uvdelreayemjkuuhxgoc.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_QA1OgRvRbuosGtO2I707Ww_7Vq3q-cf
VITE_N8N_WEBHOOK_CREATE_EVENT=
VITE_N8N_WEBHOOK_UPDATE_EVENT=
VITE_N8N_WEBHOOK_CANCEL_EVENT=